# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule FastAPI.Api.ImageImageSuperResolution do
  @moduledoc """
  API calls for all endpoints tagged `ImageImageSuperResolution`.
  """

  alias FastAPI.Connection
  import FastAPI.RequestBuilder


  @doc """
  Apply model for the super-resolution task for a given models

  ## Parameters

  - connection (FastAPI.Connection): Connection to server
  - image (String.t): 
  - opts (KeywordList): [optional] Optional parameters
    - :model (String.t): 
  ## Returns

  {:ok, %FastAPI.Model.Map{}} on success
  {:error, info} on failure
  """
  @spec apply_image_image_super_resolution_post(Tesla.Env.client, String.t, keyword()) :: {:ok, Map.t} | {:error, Tesla.Env.t}
  def apply_image_image_super_resolution_post(connection, image, opts \\ []) do
    optional_params = %{
      :"model" => :query
    }
    %{}
    |> method(:post)
    |> url("/image/image/super-resolution/")
    |> add_param(:file, :"image", image)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, false},
      { 422, %FastAPI.Model.HttpValidationError{}}
    ])
  end

  @doc """
  Get list of models available for super-resolution

  ## Parameters

  - connection (FastAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, %FastAPI.Model.Map{}} on success
  {:error, info} on failure
  """
  @spec get_versions_image_image_super_resolution_get(Tesla.Env.client, keyword()) :: {:ok, Map.t} | {:error, Tesla.Env.t}
  def get_versions_image_image_super_resolution_get(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/image/image/super-resolution/")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, false}
    ])
  end
end
