/*
 * FastAPI
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.io.File;
import org.openapitools.client.model.HTTPValidationError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class VideoVideoFrameInterpolationApi {
    private ApiClient localVarApiClient;

    public VideoVideoFrameInterpolationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public VideoVideoFrameInterpolationApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for applyVideoVideoFrameInterpolationPost
     * @param video  (required)
     * @param model  (optional, default to &quot;deep-animation-video-interpolation-in-the-wild&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call applyVideoVideoFrameInterpolationPostCall(File video, String model, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/video/video/frame-interpolation/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (model != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("model", model));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (video != null) {
            localVarFormParams.put("video", video);
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call applyVideoVideoFrameInterpolationPostValidateBeforeCall(File video, String model, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'video' is set
        if (video == null) {
            throw new ApiException("Missing the required parameter 'video' when calling applyVideoVideoFrameInterpolationPost(Async)");
        }
        

        okhttp3.Call localVarCall = applyVideoVideoFrameInterpolationPostCall(video, model, _callback);
        return localVarCall;

    }

    /**
     * Apply model for the frame-interpolation task for a given models
     * 
     * @param video  (required)
     * @param model  (optional, default to &quot;deep-animation-video-interpolation-in-the-wild&quot;)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object applyVideoVideoFrameInterpolationPost(File video, String model) throws ApiException {
        ApiResponse<Object> localVarResp = applyVideoVideoFrameInterpolationPostWithHttpInfo(video, model);
        return localVarResp.getData();
    }

    /**
     * Apply model for the frame-interpolation task for a given models
     * 
     * @param video  (required)
     * @param model  (optional, default to &quot;deep-animation-video-interpolation-in-the-wild&quot;)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> applyVideoVideoFrameInterpolationPostWithHttpInfo(File video, String model) throws ApiException {
        okhttp3.Call localVarCall = applyVideoVideoFrameInterpolationPostValidateBeforeCall(video, model, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Apply model for the frame-interpolation task for a given models (asynchronously)
     * 
     * @param video  (required)
     * @param model  (optional, default to &quot;deep-animation-video-interpolation-in-the-wild&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call applyVideoVideoFrameInterpolationPostAsync(File video, String model, final ApiCallback<Object> _callback) throws ApiException {

        okhttp3.Call localVarCall = applyVideoVideoFrameInterpolationPostValidateBeforeCall(video, model, _callback);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getVersionsVideoVideoFrameInterpolationGet
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getVersionsVideoVideoFrameInterpolationGetCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/video/video/frame-interpolation/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getVersionsVideoVideoFrameInterpolationGetValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getVersionsVideoVideoFrameInterpolationGetCall(_callback);
        return localVarCall;

    }

    /**
     * Get list of models available for frame-interpolation
     * 
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object getVersionsVideoVideoFrameInterpolationGet() throws ApiException {
        ApiResponse<Object> localVarResp = getVersionsVideoVideoFrameInterpolationGetWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get list of models available for frame-interpolation
     * 
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> getVersionsVideoVideoFrameInterpolationGetWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getVersionsVideoVideoFrameInterpolationGetValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get list of models available for frame-interpolation (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getVersionsVideoVideoFrameInterpolationGetAsync(final ApiCallback<Object> _callback) throws ApiException {

        okhttp3.Call localVarCall = getVersionsVideoVideoFrameInterpolationGetValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
