/*
 * FastAPI
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 * Generated by: https://openapi-generator.tech
 */

use std::rc::Rc;
use std::borrow::Borrow;

use hyper;
use serde_json;
use futures::Future;

use super::{Error, configuration};
use super::request as __internal_request;

pub struct TextTextSummarizationApiClient<C: hyper::client::Connect> {
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::Connect> TextTextSummarizationApiClient<C> {
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> TextTextSummarizationApiClient<C> {
        TextTextSummarizationApiClient {
            configuration: configuration,
        }
    }
}

pub trait TextTextSummarizationApi {
    fn apply_text_text_summarization_post(&self, text: &str, source_language: &str, max_length: i32, min_length: i32, model: &str) -> Box<Future<Item = Value, Error = Error<serde_json::Value>>>;
    fn get_versions_text_text_summarization_get(&self, ) -> Box<Future<Item = Value, Error = Error<serde_json::Value>>>;
}


impl<C: hyper::client::Connect>TextTextSummarizationApi for TextTextSummarizationApiClient<C> {
    fn apply_text_text_summarization_post(&self, text: &str, source_language: &str, max_length: i32, min_length: i32, model: &str) -> Box<Future<Item = Value, Error = Error<serde_json::Value>>> {
        __internal_request::Request::new(hyper::Method::Post, "/text/text/summarization/".to_string())
            .with_query_param("text".to_string(), text.to_string())
            .with_query_param("source_language".to_string(), source_language.to_string())
            .with_query_param("max_length".to_string(), max_length.to_string())
            .with_query_param("min_length".to_string(), min_length.to_string())
            .with_query_param("model".to_string(), model.to_string())
            .execute(self.configuration.borrow())
    }

    fn get_versions_text_text_summarization_get(&self, ) -> Box<Future<Item = Value, Error = Error<serde_json::Value>>> {
        __internal_request::Request::new(hyper::Method::Get, "/text/text/summarization/".to_string())
            .execute(self.configuration.borrow())
    }

}
